@CHARSET "UTF-8";

body{
	font-size: 10pt;
	font-family: Arial;
}

body, form, table
{
	margin : 0;
	border: 0;
	padding: 0;
}

p, td, th, li, input, textarea, option
{
	font-family: inherit;
	font-size: 1em;
}

h1{
	font-size: 1.4em;
}
h2{
	font-size: 1.3em;
}
h3{
	font-size: 1.2em;
}
h4{
	font-size: 1.1em;
}

/* Générique */
.edit
{
	width: auto;
	margin: 4px;
	border: 1px gray dashed;
	padding: 1px;
}

table .colname td, table .colname th
{
	border: 0px;
}
table .noborder
{
	border: 0px;
}
table .label
{
	text-align: left;
	width: 250px;
}

form .submit
{
	border: 1px gray solid;
	background-color: #ddd;
	color: red;
	font-size: 1.1em;
}

.info
{
	color: orange;
}

/* Login */
.login
{
	float: right;
}
.login p
{
	margin: 0;
}	

/* Menu */
.menu
{
	border-bottom: 1px black solid;
}
.menu span
{
	border: 1px transparent solid;
}
.menu span.selected
{
	border: 1px gray solid;
	background-color: #aaa;
}
.menu span a
{
	text-decoration : none;
}
.menu span.selected a
{
	color: white;
}
.menu span:hover
{
	border: 1px gray solid;
	background-color: #666;
}
.menu span:hover a
{
	color: white;
}

/* Emails */
.mail .edit a
{
	text-decoration: none;
}
.mail .delete a
{
	text-decoration: none;
	color: red;
}

.account .label
{
	font-weight: bold;
}

.account .submit
{
	text-align: right;
}

.cadre
{
	margin: 5px;
	border: 1px gray solid;
	padding: 4px;
}
.cadre h3, .cadre h4, .cadre p
{
	margin: 0px;
}
.cadre td
{
	vertical-align: top;
}

.objectlist td
{
	padding: 0 2px;
}

.info_text p
{
	margin: 0;
}

 